@page
@model MOGILEVZAGS.Pages.Clients.IndexModel
@{
}

<br>
<h2>Предварительная запись на регистрацию брака прямо на веб-сайте.</h2>
<a class='btn btn-primary btn-sm' href='/Clients/Create'>Оформить запись</a>

