@page
@model MOGILEVZAGS.Pages.Client1.Index1Model
@{
}

<br>
<h2>Предварительная запись на регистрацию развода прямо на веб-сайте.</h2>
<a class='btn btn-primary btn-sm' href='/Client1/Create'>Оформить запись</a>
