@page

@{
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">Тарифы</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a asp-page="/Index">Главная</a></li>
                <li class="breadcrumb-item text-primary" aria-current="page">Тарифы</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<span>
    Тарифы на дополнительные платные услуги связанные с регистрацией заключения брака, осуществляемые отделом ЗАГС Могилевского горисполкома
    <br />
    <p>ТАРИФЫ НА ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ ОТДЕЛА ЗАГС <br />
        c 1 января 2023 года БАЗОВАЯ ВЕЛИЧИНА составляет 37 р.</p>
</span>
<table class="table prices-table" align="center" cellpadding="10">
    <tr>
        <td style="text-align:center"><strong>Наименование услуги</strong></td>
        <td style="text-align:center"><strong>Тариф</strong></td>
    </tr>
    <tr>
        <td style="text-align:left">Обеспечение торжественной обстановки регистрации заключения брака в помещении органа загса, не являющемся специально оборудованным помещением (кабинет)</td>
        <td style="text-align:center">0.5 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Обеспечение торжественной обстановки регистрации заключения брака в специально оборудованном помещении органа загса</td>
        <td style="text-align:center">1 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Обеспечение торжественной обстановки регистрации заключения брака в Золотом зале</td>
        <td style="text-align:center">2 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Обеспечение торжественной обстановки регистрации заключения брака по индивидуальному сценарию (обряду) с использованием различных элементов и атрибутов в Золотом зале</td>
        <td style="text-align:center">2.5 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Обеспечение торжественной обстановки регистрации брака в Бриллиантовом зале</td>
        <td style="text-align:center">1.5 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Обеспечение торжественной обстановки регистрации заключения брака по индивидуальному сценарию (обряду) с использованием различных элементов и атрибутов в Бриллиантовом зале</td>
        <td style="text-align:center">2 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Обеспечение торжественной обстановки регистрации брака в Хрустальном зале</td>
        <td style="text-align:center">1 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Обеспечение торжественной обстановки регистрации заключения брака по индивидуальному сценарию (обряду) с использованием различных элементов и атрибутов в Хрустальном зале</td>
        <td style="text-align:center">1.5 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Обеспечение торжественной обстановки регистрации заключения брака вне помещения органа загса
(в помещениях учреждений культуры, помещениях, расположенных в исторических и памятных местах, на территории объектов, являющихся памятниками истории или архитектуры, в архитектурных ансамблях и других местах, в помещениях, определенных договорами на оказание услуги по выезду для регистрации заключения брака к месту проведения торжества, учреждениях уголовно- исправительной системы, месте проживания лица, обратившегося за оказанием дополнительной платной услуги, месте оказания медицинской помощи в стационарных условиях или в другом месте)

ОБРАЩАЕМ ВНИМАНИЕ! 
По вопросам бронирования и проведения выездных регистраций на площадках: Усадьба Куркуля, Любужский замок, Steak&Wine, Лесной двор, Грин-Хилл, Триумф парк - cледует обращаться в регистрирующий орган по месту нахождения площадки, т. е. в отдел загса Могилёвского райисполкома  по адресу г. Могилёв, ул. Челюскинцев, д. 63А, тел.: +375 222 42 30 03</td>
        <td style="text-align:center">5 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Обеспечение торжественной обстановки регистрации заключения брака по индивидуальному сценарию (обряду) с использованием различных элементов и атрибутов вне помещения органа загса
(в помещениях учреждений культуры, помещениях, расположенных в исторических и памятных местах, на территории объектов, являющихся памятниками истории или архитектуры, в архитектурных ансамблях и других местах, в помещениях, определенных договорами на оказание услуги по выезду для регистрации заключения брака к месту проведения торжества, учреждениях уголовно- исправительной системы, месте проживания лица, обратившегося за оказанием дополнительной платной услуги, месте оказания медицинской помощи в стационарных условиях или в другом месте)

ОБРАЩАЕМ ВНИМАНИЕ! 
По вопросам бронирования и проведения выездных регистраций на площадках: Усадьба Куркуля, Любужский замок, Steak&Wine, Лесной двор, Грин-Хилл, Триумф парк - cледует обращаться в регистрирующий орган по месту нахождения площадки, т. е. в отдел загса Могилёвского райисполкома  по адресу г. Могилёв, ул. Челюскинцев, д. 63А, тел.: +375 222 42 30 03</td>
        <td style="text-align:center">6 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Проведение торжественных церемоний, связанных с регистрацией брака</td>
        <td style="text-align:center">1 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Изготовление копий документов</td>
        <td style="text-align:center">0.02 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Регистрация заключения брака, включая выдачу свидетельства</td>
        <td style="text-align:center">1 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Развод. Регистрация расторжения брака, включая выдачу свидетельства по взаимному согласию супругов,
не имеющих общих несовершеннолетних детей и спора об имуществе</td>
        <td style="text-align:center">4 БВ</td>
    </tr>
    <tr>
        <td style="text-align:left">Развод. Регистрация расторжения брака по решениям судов, вступившим в законную силу до 1 сентября 1999 г.,
включая выдачу свидетельства, за исключением случаев, если решением суда лицо освобождено от уплаты государственной пошлины</td>
        <td style="text-align:center">2 БВ</td>
    </tr>
</table>